<html>
<head>
  <title>List of Tasks</title>
</head>
<body>
  <p>Task List</p>
  <div id="taskList">
  	<table>
  	  <th>Task</th>
  	  <th>Description</th>
  	  <th>Status</th>
  	  	<% data.forEach(function(task) { %>
  	    <tr>
  	  	  <td><%=task.name%></td>
  	  	  <td><%=task.description%></td>
  	  	  <td><%=task.status%></td>
          <td><a href="/task/edit/<%=task.id%>">Edit</a></td>
          <td><a href="/task/remove/<%=task.id%>">Remove</a></td>
  	  	</tr>
  	  	<%})%>
  	</table>
  </div>
  <%include footer%>
</body>
</html>